# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Archivos temporales
*.tmp
*.swp

# Compilaciones o artefactos
dist/
build/

# Configuración de VSCode
.vscode/

# Archivos de configuración de VS Code
*.code-workspace
