/* ====== ESTILOS GENERALES ====== */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("Negro\ Gris\ Oscuro\ Degradado\ Color\ y\ Estilo\ Fondo\ de\ Video.png");
  background-size: 100%;
  color: #f8f9fa;
  line-height: 1.6;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content (grows), footer */
  min-height: 100vh;
}

.form-floating {
  color: rgb(66, 56, 0);
}

/* ====== HEADER ====== */

header {
  position: relative;
  padding: 50px;
  text-align: center;
  background: linear-gradient(135deg, #000000, #1c1c1c);
  color: goldenrod;
}

header .logo {
  position: absolute;
  left: 20px; /* separa un poco del borde */
  top: 50%;
  transform: translateY(-50%);
  width: 200px; /* ajusta según tamaño que quieras */
  height: auto;
}

.header-content {
  text-align: center; /* mantiene centrado el texto y botones dentro de la columna */
}

header .acciones {
  margin-top: 35px;
}

header .acciones a {
  text-decoration: none;
  background-color: goldenrod;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s ease;
  display: inline-block;
}

header .acciones a:hover {
  background: #ffd700;
  color: #000;
  transform: scale(1.05);
}

main p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
}

main h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 70px;
  color: goldenrod;
  padding: 50px;
}

.cuadro {
  width: fit-content;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #333;
  padding: 80px;
  padding-top: 150px;
  padding-bottom: 150px;
}

footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #000000, #1c1c1c);
  color: #aaa;
}

footer h2 {
  color: goldenrod;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  header h1 {
    font-size: 22px;
  }
  .filtros button {
    font-size: 14px;
    padding: 8px 15px;
  }
  .anuncios img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 20px 10px;
  }
  .acciones a {
    padding: 8px 14px;
    font-size: 14px;
  }
  .producto img {
    height: 180px;
  }
  .anuncios img {
    height: 150px;
  }
}
