@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.position-relative {
  height: 170px;
  margin-left: 40px;
  margin-right: 40px;
}

.position-absolute {
  top: 0;
  z-index: 2;
  transform: translatey(-50%);
}

#b1 {
  left: calc(100% * 0 / 3);
}
#b2 {
  left: calc(100% * 1 / 3);
}
#b3 {
  left: calc(100% * 2 / 3);
}
#b4 {
  left: calc(100% * 3 / 3);
}

.p1 {
  top: 30px;
  left: 0px;
  width: 100%;
  height: 10px;
  z-index: 1;
}
