/* ====== ESTILOS GENERALES ====== */

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(imga/Negro\ Gris\ Oscuro\ Degradado\ Color\ y\ Estilo\ Fondo\ de\ Video.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f8f9fa;
  line-height: 1.6;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content (grows), footer */
  min-height: 100vh;
}

.form-floating {
  color: rgb(66, 56, 0);
}

main {
  margin-top: 100px;
  margin-bottom: 50px;
}

main p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
}

main h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px auto;
  font-size: 70px;
  color: goldenrod;
  padding: 30px;
}

main .container {
  max-width: 900px;
  width: 90%;
  margin: 60px auto;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #333;
  padding: 80px 60px;
  justify-content: center;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .filtros button {
    font-size: 14px;
    padding: 8px 15px;
  }
  .anuncios img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .acciones a {
    padding: 8px 14px;
    font-size: 14px;
  }
  .producto img {
    height: 180px;
  }
  .anuncios img {
    height: 150px;
  }
}
