body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(imga/Negro\ Gris\ Oscuro\ Degradado\ Color\ y\ Estilo\ Fondo\ de\ Video.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content (grows), footer */
  min-height: 100vh;
}

main {
  margin: 0;
  margin-top: 150px;
  margin-bottom: 30px;
}

.position-relative {
  height: 170px;
  margin-left: 40px;
  margin-right: 40px;
}

.position-absolute {
  top: 0;
  z-index: 2;
  transform: translatey(-50%);
}

#b1 {
  left: calc(100% * 0 / 3);
}
#b2 {
  left: calc(100% * 1 / 3);
}
#b3 {
  left: calc(100% * 2 / 3);
}
#b4 {
  left: calc(100% * 3 / 3);
}

.p1 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 10px;
  z-index: 1;
}

.fa-check {
  font-size: 25px; /* Set your desired size */
}

.rounded-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 7px double white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.container-sm {
  padding: 50px 100px;
}
